
:root {
    --tt-color-text-gray: #787673;
    --tt-color-text-brown: #9d6a53;
    --tt-color-text-orange: #d9730d;
    --tt-color-text-yellow: #ca922f;
    --tt-color-text-green: #448361;
    --tt-color-text-blue: #327da9;
    --tt-color-text-purple: #8f64af;
    --tt-color-text-pink: #c24c8b;
    --tt-color-text-red: #d34a45;
    --tt-color-text-gray-contrast: #54473126;
    --tt-color-text-brown-contrast: #d2a28e59;
    --tt-color-text-orange-contrast: #e07b3845;
    --tt-color-text-yellow-contrast: #ecbe4163;
    --tt-color-text-green-contrast: #7bb78145;
    --tt-color-text-blue-contrast: #5ea6cf45;
    --tt-color-text-purple-contrast: #a881c545;
    --tt-color-text-pink-contrast: #e189b445;
    --tt-color-text-red-contrast: #f4aa9f66
}

.dark {
    --tt-color-text-gray: #9c9c9c;
    --tt-color-text-brown: #b9856e;
    --tt-color-text-orange: #c77d48;
    --tt-color-text-yellow: #ca994e;
    --tt-color-text-green: #519e71;
    --tt-color-text-blue: #3699d3;
    --tt-color-text-purple: #9e69d3;
    --tt-color-text-pink: #d15796;
    --tt-color-text-red: #df5553;
    --tt-color-text-gray-contrast: #ffffff17;
    --tt-color-text-brown-contrast: #b9674640;
    --tt-color-text-orange-contrast: #e97d2533;
    --tt-color-text-yellow-contrast: #b3823d33;
    --tt-color-text-green-contrast: #2d9a6533;
    --tt-color-text-blue-contrast: #327da933;
    --tt-color-text-purple-contrast: #9b60d22e;
    --tt-color-text-pink-contrast: #dc4c9238;
    --tt-color-text-red-contrast: #dd555540
}

:root {
    --tt-color-highlight-yellow: #fef9c3;
    --tt-color-highlight-green: #dcfce7;
    --tt-color-highlight-blue: #e0f2fe;
    --tt-color-highlight-purple: #f3e8ff;
    --tt-color-highlight-red: #ffe4e6;
    --tt-color-highlight-gray: #f8f8f7;
    --tt-color-highlight-brown: #f4eeee;
    --tt-color-highlight-orange: #fbecdd;
    --tt-color-highlight-pink: #fcf1f6;
    --tt-color-highlight-yellow-contrast: #fbe604;
    --tt-color-highlight-green-contrast: #c7fad8;
    --tt-color-highlight-blue-contrast: #ceeafd;
    --tt-color-highlight-purple-contrast: #e4ccff;
    --tt-color-highlight-red-contrast: #ffccd0;
    --tt-color-highlight-gray-contrast: #54483126;
    --tt-color-highlight-brown-contrast: #d2a28d59;
    --tt-color-highlight-orange-contrast: #e07c3945;
    --tt-color-highlight-pink-contrast: #e188b345
}

.dark {
    --tt-color-highlight-yellow: #6b6524;
    --tt-color-highlight-green: #509568;
    --tt-color-highlight-blue: #6e92aa;
    --tt-color-highlight-purple: #583e74;
    --tt-color-highlight-red: #743e42;
    --tt-color-highlight-gray: #2f2f2f;
    --tt-color-highlight-brown: #4a3228;
    --tt-color-highlight-orange: #5c3b23;
    --tt-color-highlight-pink: #4e2c3c;
    --tt-color-highlight-yellow-contrast: #58531e;
    --tt-color-highlight-green-contrast: #47855d;
    --tt-color-highlight-blue-contrast: #5e86a1;
    --tt-color-highlight-purple-contrast: #4c3564;
    --tt-color-highlight-red-contrast: #643539;
    --tt-color-highlight-gray-contrast: #ffffff18;
    --tt-color-highlight-brown-contrast: #b8654540;
    --tt-color-highlight-orange-contrast: #e97e2533;
    --tt-color-highlight-pink-contrast: #dc4c9138
}
